.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  width: 85%;
  max-width: 950px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-sizing: border-box;
  padding: 30px 40px;
  padding-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  color: #fff;
  text-align: center;
  font-family: "Lato";
  font-size: 40px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.2px;
  margin-bottom: 50px;
  width: fit-content;
}

.title_underline {
  width: 130%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.display {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 20px;
  font-family: "Lato";
  font-weight: 400;
  color: white;
}
.display th {
  font-weight: normal; /* or any other value you prefer */
}
.table_head {
  position: relative;
  color: white;
}

.table_head::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.288);
  margin-bottom: 5px;
}

.table_head > tr th {
  padding: 0 10px 20px;
  text-align: center;
  width: 25%; /* Distribute columns evenly */
}

.table_body > tr td {
  padding: 15px 10px;
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}

.table_body > tr td:nth-child(1) {
  text-align: center;
  white-space: normal;
  max-width: 155px;
}

/* Specific adjustments for the first and last columns if needed */
.table_head > tr th:first-child,
.table_body > tr td:first-child {
  text-align: center;
}

.table_head > tr th:last-child,
.table_body > tr td:last-child {
  text-align: center;
}

/* Remove max-width constraint */
.table_body > tr td:first-child {
  white-space: normal;
}


.date_mobile {
  font-size: 14.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.055px;
  opacity: 0.8;
}

/* Responsive styles */
@media (max-width: 849px) {
  .display {
    font-size: 18px;
  }
}

@media (max-width: 774px) {
  .display {
    font-size: 16px;
  }
}

@media (max-width: 679px) {
  .display {
    font-size: 14px;
  }

  .main {
    padding: 30px 20px;
  }
}

@media (max-width: 554px) {
  .main {
    padding: 30px 15px;
  }
}

/* Mobile Styles */
@media screen and (max-width: 480px) {
  .container {
    padding-top: 0;
  }

  .main {
    width: 93.5%;
    border-radius: 29px;
    padding: 41px 15px 15px;
    margin-bottom: 50px;
  }

  .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .title_underline {
    display: none;
  }

  .table_head {
    font-size: 14px;
  }

  .table_head > tr th {
    padding-bottom: 22px;
    font-weight: 400;
  }

  .table_body > tr td {
    font-size: 14px;
    font-weight: 400;
    padding: 10px 5px;
  }

  .table_body > tr td:nth-child(1) {
    max-width: 120px;
  }

  .title_mobile {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.06px;
  }

  .date_mobile {
    font-size: 11px;
    letter-spacing: -0.055px;
  }

} 
